.Header {
  height: 48px;
  margin-bottom: 40px;
}

.Header > .header-wrap {
  display: flex;
  background-color: #313131;
  align-items: center;
}

.Header > .header-wrap > .fist-icon {
  width: 24px;
  height: 24px;
  padding: 12px;
}

.Header > .header-wrap > .title {
  font-size: 20px;
  color: #FFCD69;
}